nav.navbar.navbar-light.bg-light.fixed-top.justify-content-between.navbar-expand
  .container
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | Tripple T

  div.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class=(title === 'unstructured') ? 'active' : undefined)
        a.nav-link(href='/') Unstructured
      li.nav-item(class=(title === 'unstructuredFilters') ? 'active' : undefined)
        a.nav-link(href='/filters') Filters