extends layout

block content
  h1 Dating Profile Retrieval
  hr
  form.form-horizontal(method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
    input.form-control(type='text', name='q', id='q', placeholder='What are you looking for in a partner?', autofocus=true)
    br
    button.btn.btn-primary(type='submit')
      | Search Now