@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.mainScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .flex-one {
    flex: 1 !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.container {
  height: 100%;
}

.list-group-item {
  padding-bottom: 0 !important;
  border: none !important;
  strong {
    width: 100px;
    display: inline-block;
  }
}